<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="Login.css">
</head>

<body>

    <div class="class1">

        <form action="">
            <b>Login</b> <br><br> UserName : <br><input type="text" class="form-control"> <br> Password : <br> <input type="password" class="form-control"> <br>
            <input type="checkbox"> <span>Remember Me  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp; &nbsp;
            
            <span> <a href="">Forgot Password</a> </span></span> <br><br>

            <input type="submit" name="Login" style="width: 300px; background-color: rgb(34, 226, 34); border-radius: 6px;height: 31px;" value="Submit">

            <hr>

            <button type="button" style="width: 120px;background-color: rgb(255, 104, 104);height: 31px;border-radius: 5px;">Google </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button style="width: 120px;background-color: rgb(141, 106, 240);height: 31px; border-radius: 5px;">Facebook </button>
            <br> <br>
            <button style="width: 120px;background-color: rgb(82, 80, 212);height: 31px;border-radius: 5px;">Linkedln</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button style="width: 120px;background-color: rgb(241, 21, 13);height: 31px;border-radius: 5px;">Instagram</button>
            <br> <br>
            <a href="Signup.html">Not Signup !</a>
        </form>
    </div>
</body>

</html>