* {
    /* text-align: center; */
    margin: auto;
}

.class1 {
    border: 3px solid rgb(91, 98, 204);
    width: 341px;
    margin-top: 79px;
    height: 450px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

b {
    text-align: center;
    font-size: 22px;
    padding-left: 104px;
    background-color: rgba(29, 185, 81, 0.048);
    padding-right: 140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}