<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <script src="Java Script/Registration.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="Signup.css">
</head>

<body>

    <h3>Signup</h3>
    <div class="class1">

        <form name="form1" action="Login.html" method="get">
            Name <br><input type="text" name="myName" id="myName" class="form-control">

            <br> Mobile_No : <br><input type="number" id="number" class="form-control" name="myNumber">

            <br> Email : <br> <input type="email" class="form-control" id="myEmail">

            <br> UserName :<br> <input type="text" class="form-control" name="myUserName" id="user"> <br> Password : <br>

            <input type="password" class="form-control" id="myPassword">
            <br> Confirm Password : <br>

            <input type="password" class="form-control" id="myPassword">

            <input type="checkbox" name="cBox" id="checkbox"> I agree with your Privacy Policy. <br><br>

            <button type="submit" class="btn btn-primary" style="width: 80px; " onclick="check()">Signup</button>

            <button type="button" class="btn btn-primary" id="" style="width: 80px;">Reset</button>

            <br><br>

            <a href="Login.html">Already Signup !</a>
        </form>
    </div>

</body>

</html>