* {
    margin: 0;
    padding: 0;
}

.navBar {
    width: 100%;
    border: 2px solid black;
}

ul {
    display: flex;
    padding: 13px;
}

ul .logo {
    width: 15%;
    /* height: 2em; */
    float: left;
}

ul .menu {
    display: flex;
    width: 55%;
    justify-content: center;
    margin-top: 9px;
}

ul .menu li {
    padding-top: 5px;
    list-style: none;
}

ul .menu li a {
    padding: 5px 25px 5px 25px;
    margin: 2px;
    text-decoration: none;
    font-weight: bold;
}

ul .menu li a:hover {
    color: rgb(108, 98, 243);
}

ul .button {
    width: 30%;
    margin-top: 9px;
    height: auto;
}

ul .button input,
button {
    float: right;
}

ul .btn {
    padding: 5px;
    margin: 2px;
    background-color: rgb(151, 161, 184);
}

ul .btn:hover {
    cursor: pointer;
    background-color: rgb(66, 119, 243);
}

ul .button #search {
    padding: 5px;
    margin: 2px;
}